body{ width:100%; height:auto; float:left; margin:0px; padding:0px;}
.box{ float:left; width:100%; height:200px;}
.box_n{ width:298px; height:198px; border:1px solid #000; margin:0 auto;}
.boxA{ float:left; width:298px; height:65px; line-height:65px; font-size:38px; font-weight:bold; text-align:center; border-bottom:1px solid #000;}
.boxB{ float:left; width:298px; height:65px; text-align:center; border-bottom:1px solid #000;}
.boxC{ float:left; width:298px; height:32px; line-height:32px; text-align:center; border-bottom:1px solid #000;}
.boxC_a{ float:left; width:116px; height:32px; border-right:1px solid #000;}
.boxC_b{ float:left; width:90px; height:32px; border-right:1px solid #000;}
.boxC_c{ float:left; width:90px; height:32px;}

.boxD{ float:left; width:298px; height:33px; line-height:33px; text-align:center;}
.boxD_a{ float:left; width:116px; height:33px; border-right:1px solid #000;}
.boxD_b{ float:left; width:181px; height:33px;}