<!-- inc:head -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{func admin_url admin}" title="返回管理员列表">管理员列表</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span><!-- if $id -->编辑<!-- else -->添加<!-- /if -->管理员</span>
        </li>
    </ul>
</div>
<form method="post" action="{func admin_url admin save}" onsubmit="return check_save();">
<input type="hidden" name="id" id="id" value="{$id}" />
<div class="row">
    <div class="col-md-12">
        <div class="portlet box grey">
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                    <tr>
                        <td class="text-right">管理员账号：</td>
                        <td><input id="account" name="account" type="text" value="{$rs.account}" class="form-control"/>
                            <span class="help-block">建议使用英文单词，中文或数字</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">管理员密码：</td>
                        <td><input id="pass" name="pass" type="text" class="form-control"/>
                            <span class="help-block">密码长不能少于4位数，建议使用数字，字母及下划线等</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">管理员邮箱：</td>
                        <td><input id="email" name="email" type="text" class="form-control" value="{$rs.email}"/>
                            <span class="help-block">此邮箱可用于接收网站通知信息，请不要和SMTP配置的邮箱一致</span></td>
                    </tr>
                    <!-- if $popedom.status -->
                    <tr>
                        <td class="text-right">状态：</td>
                        <td><input id="status" name="status" type="checkbox" class="make-switch"  data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>" data-size="small" value="1"{if $rs.status} checked{/if}></td>
                    </tr>
                    <!-- else -->
                    <input type="hidden" name="status" value="{$rs.status ? 1 : 0}" />
                    <tr>
                        <td class="text-right">状态：</td>
                        <input id="status" name="status" type="checkbox" class="make-switch"  data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>" data-size="small" value="1"{if $rs.status} checked{/if}></td>
                    </tr>
                    <!-- /if -->
                    <!-- if $session.admin_rs.if_system -->
                    <tr>
                        <td class="text-right">管理员级别：</td>
                        <td><div class="md-radio-inline">
                            <div class="md-radio">
                                <input type="radio" name="if_system" id="if_system_1" value="1"{if $rs.if_system} checked{/if} onclick="admin_system(1)" class="md-radiobtn">
                                <label for="if_system_1">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> 系统管理员 </label>
                            </div>
                            <div class="md-radio">
                                <input type="radio" name="if_system" id="if_system_0" value="0"{if !$rs.if_system} checked{/if} onclick="admin_system(0)" class="md-radiobtn">
                                <label for="if_system_0">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> 普通管理员 </label>
                            </div>

                        </div>
                        </td>
                    </tr>
                    <!-- else -->
                    <tr>
                        <td class="text-right">管理员级别：</td>
                        <td><div class="md-radio-inline">
                            <div class="md-radio">
                                <input type="radio" name="if_system" id="if_system_0" value="0"{if !$rs.if_system} checked{/if} onclick="admin_system(0)" class="md-radiobtn">
                                <label for="if_system_0">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> 普通管理员 </label>
                            </div>
                        </div>
                        </td>
                    </tr>
                    <!-- /if -->
                    <!-- if $session.admin_rs.if_system -->
                    <tr>
                        <td class="text-right">仓库管理：</td>
                        <td>
                            <div class="md-checkbox-inline">
                                <!-- loop from=$stock key=$key value=$value -->
                                <div class="md-checkbox">
                                    <input id="stock_id{$value.id}" type="checkbox" value="{$value.id}" name="stock_id[]"{if in_array($value.id,$c_id)} checked{/if}>
                                    <label for="stock_id{$value.id}">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> {$value.title} </label>
                                </div>
                                <!-- /loop -->
                            </div>
                        </td>
                    </tr>
                    <!-- /if -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="sysmenu_html" >
    <!-- loop from=$syslist key=$key value=$value -->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box grey" id="mlist_{$value.id}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-bars"></i>{func P_Lang $value.title}</div>
                    <div class="tools">
                        <input class="btn btn-xs btn-danger" type="button" value="全选" onclick="$.input.checkbox_all('mlist_{$value.id}')" />
                        <input class="btn btn-xs btn-success" type="button" value="全不选" onclick="$.input.checkbox_none('mlist_{$value.id}')" />
                        <input class="btn btn-xs btn-warning" type="button" value="反选" onclick="$.input.checkbox_anti('mlist_{$value.id}')" />
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                        <!-- loop from=$value.sublist key=$k value=$v -->
                        <!-- if $v.appfile != 'list' && $v.appfile != 'admin' -->
                        <tr id="mlist_{$v.id}">
                            <td class="col-md-2">{func P_Lang $v.title}</td>
                            <td class="col-md-2"><input class="btn btn-xs btn-danger" type="button" value="全选" onclick="$.input.checkbox_all('mlist_{$v.id}')" />
                                <input class="btn btn-xs btn-success" type="button" value="全不选" onclick="$.input.checkbox_none('mlist_{$v.id}')" />
                                <input class="btn btn-xs btn-warning" type="button" value="反选" onclick="$.input.checkbox_anti('mlist_{$v.id}')" /></td>
                            <td class="col-md-8">
                                <!-- if $glist[$v['id']] -->
                                <div class="md-checkbox-inline">
                                    <!-- loop from=$glist[$v['id']] key=$kk value=$vv -->
                                    <div class="md-checkbox">
                                        <input id="pop{$vv.id}" type="checkbox" name="popedom[]" value="{$vv.id}"{if $plist && in_array($vv.id,$plist)} checked{/if}>
                                        <label for="pop{$vv.id}">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box" style="width: 17px;height: 17px;border:1px solid #666"></span> {func P_Lang $vv.title} </label>
                                    </div>
                                    <!-- /loop -->
                                </div>
                                <!-- /if -->
                            </td>
                        </tr>
                        <!-- /if -->
                        <!-- /loop -->
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <!-- /loop -->
    <!-- loop from=$sitelist key=$key value=$value -->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box grey" id="site_{$value.id}">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-bars"></i>{$value.title}</div>
                    <div class="tools">
                        <input class="btn btn-xs btn-danger" type="button" value="全选" onclick="$.input.checkbox_all('site_{$value.id}')" />
                        <input class="btn btn-xs btn-success" type="button" value="全不选" onclick="$.input.checkbox_none('site_{$value.id}')" />
                        <input class="btn btn-xs btn-warning" type="button" value="反选" onclick="$.input.checkbox_anti('site_{$value.id}')" />
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                        <!-- loop from=$value.sonlist key=$k value=$v -->
                        <tr id="site_p_{$v.id}">
                            <td class="col-md-2">{$v.space}{$v.title}</td>
                            <td class="col-md-2"><input class="btn btn-xs btn-danger" type="button" value="全选" onclick="$.input.checkbox_all('site_p_{$v.id}')" />
                                <input class="btn btn-xs btn-success" type="button" value="全不选" onclick="$.input.checkbox_none('site_p_{$v.id}')" />
                                <input class="btn btn-xs btn-warning" type="button" value="反选" onclick="$.input.checkbox_anti('site_p_{$v.id}')" /></td>
                            <td class="col-md-8">
                                <div class="md-checkbox-inline">
                                    <!-- loop from=$v._popedom key=$kk value=$vv -->
                                    <div class="md-checkbox">
                                        <input id="pop1{$vv.id}" class="md-check" type="checkbox" name="popedom[]" value="{$vv.id}"{if $plist && in_array($vv.id,$plist)} checked{/if}>
                                        <label for="pop1{$vv.id}">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box" style="width: 17px;height: 17px;border:1px solid #666"></span> {func P_Lang $vv.title} </label>
                                    </div>
                                    <!-- /loop -->
                                </div>
                            </td>
                        </tr>
                        <!-- /loop -->

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /loop -->
</div>
<div class="text-center">
    <button class="btn blue" type="submit">
        <i class="fa fa-edit"></i>
        提 交
    </button>
</div>
</form>
<script type="text/javascript">
    function admin_system(val)
    {
        if(val && val == 1)
        {
            $("#sysmenu_html").hide();
            //$("#store").hide();
        }
        else
        {
            $("#sysmenu_html").show();
            //$("#store").show();
        }
    }
    function to_use_all()
    {
        $("input[data=category_use]").attr("checked",true);
    }
    function check_save()
    {
        var account = $("#account").val();
        if(!account)
        {
            $.dialog.alert("{lang管理员账号不能为空}");
            return false;
        }
        var id = $("#id").val();
        //检测账号是否存在
        var url = get_url("admin","check_account") + "&account="+$.str.encode(account);
        if(id && id != "undefined")
        {
            url += '&id='+id;
        }
        var rs = json_ajax(url);
        if(rs.status != "ok")
        {
            $.dialog.alert(rs.content);
            return false;
        }
        if(!id || id == "0" || id == "undefined")
        {
            var pass = $("#pass").val();
            if(!pass || pass.length < 4)
            {
                $.dialog.alert("{lang密码不能为空或密码长度太短}");
                return false;
            }
        }
        //
        //判断是否是系统管理员
        var if_system = $("input[name=if_system]:checked").val();
        if(if_system != "1")
        {
            //检测是否有
            var popedom_id = $.input.checkbox_join("sysmenu_html");
            if(!popedom_id)
            {
                $.dialog.alert("{lang账号：}<span class='red'>"+account+"</span> {lang不是系统管理员，请配置好权限！}");
                return false;
            }
            //检查系统中是否还存在系统管理员（如果不存在，必须至少有一位系统管理员）
            var url = get_url("admin","check_if_system");
            if(id)
            {
                url += "&id="+id;
            }
            var rs = json_ajax(url);
            if(rs.status != "ok")
            {
                $.dialog.alert(rs.content);
                return false;
            }
        }
    }
    /*$(document).ready(function(){
        top.$.desktop.title('{if $id}{lang编辑管理员}{else}{lang添加管理员}{/if}');
    });*/
    $(document).ready(function(){
        admin_system("{$rs.if_system}");
    });
</script>
<!-- inc:foot -->