<!-- inc:head -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{echo admin_url('cate')}">分类管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>
                <!-- if $id -->
                 编辑分类信息
	            <!-- else -->
                添加新分类（添加字段前建议先保存数据，每添加完一个字段系统会自动刷新）
	            <!-- /if -->
            </span>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="tabbable tabbable-tabdrop">
                    <ul class="nav nav-tabs" style="margin-bottom:0px;">
                        <li class="active bold">
                            <a aria-expanded="false" href="#tab1" data-toggle="tab">基本设置</a>
                        </li>
                        <li class="bold">
                            <a aria-expanded="true" href="#tab2" data-toggle="tab">分类属性</a>
                        </li>
                        <li class="bold">
                            <a aria-expanded="false" href="#tab3" data-toggle="tab">SEO优化</a>
                        </li>
                    </ul>
                    <form method="post" id="{$ext_module}" action="{echo admin_url('cate','save')}" onsubmit="return cate_check();">
                        <input type="hidden" id="id" name="id" value="{$id}" />
                        <div class="tab-content" style="border: 1px solid #ddd;border-top: none;padding:10px;">
                            <div class="tab-pane active" id="tab1">
                                <table class="table table-striped table-bordered table-hover"  style="margin-bottom:20px;">
                                    <tbody>
                                    <tr>
                                        <td class="text-right">分类名：</td>
                                        <td><input id="title" name="title" type="text" value="{$rs.title}" class="form-control"/>
                                            <div id="title_note"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">标识：</td>
                                        <td><input id="identifier" name="identifier" value="{$rs.identifier}" type="text" style="width: 80%"/><input class="btn btn-xs btn-success" value="取拼音" onclick="pingyin_btn()" type="button">
                                            <input class="btn  btn-xs btn-info" value="取首字母" onclick="py_btn()" type="button">
                                            <span class="help-block">限字母、数字、下划线或中划线且必须是字母开头</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">上级分类：</td>
                                        <td>
                                            <select name="parent_id" id="parent_id" class="form-control">
                                                <option value="0">设置为根分类</option>
                                                <!-- foreach($parentlist AS $key=>$value) -->
                                                <option value="{$value.id}"{if($value.id == $parent_id)} selected{/if}>{$value._space}{$value.title}</option>
                                                <!-- end -->
                                            </select>
                                            <span class="help-block">请选择上一级分类信息</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">排序：</td>
                                        <td><input type="text" id="taxis" name="taxis" value="{$rs.taxis ? $rs.taxis : 255}" class="form-control"/>
                                            <span class="help-block">值越小越往前靠，最小值为0，最大值为255</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right col-md-2">启用：</td>
                                        <td><input id="status" name="status" type="checkbox" class="make-switch"  data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>" data-size="small" value="1"{if $rs.status} checked{/if}></td>
                                    </tr>
                                    <!-- loop from=$extlist key=$key value=$value -->
                                    <tr>
                                        <td class="text-right col-md-2">{$value.title}<span class="font-blue">[{$value.identifier}]</span>：
                                            <!-- if $popedom.ext -->
                                            <!-- if $ext_module != 'add-cate' -->
                                            <a class="icon edit" onclick="ext_edit('{$value.identifier}','{$ext_module}')"></a></td>
                                        <!-- /if -->
                                        <a class="icon delete" onclick="ext_delete('{$value.identifier}','{$ext_module}','{$value.title}')"></a>
                                        <!-- /if -->
                                        </td>
                                        <td>
                                            {$value.html}
                                            <span class="help-block">{$value.note}</span>
                                        </td>
                                    </tr>
                                    <!-- /loop -->
                                    <!-- if $popedom.ext -->
                                    <tr>
                                        <td class="text-right col-md-2">启用：</td>
                                        <td><select id="_tmp_select_add" style="padding:3px">
                                            <option value="">请选择扩展字段…</option>
                                            <!-- loop from=$extfields key=$key value=$value -->
                                            <!-- if !$used_fields || ($used_fields && !in_array($value.identifier,$used_fields)) -->
                                            <option value="{$value.id}">{$value.title} - {$value.identifier}</option>
                                            <!-- /if -->
                                            <!-- /loop -->
                                        </select>
                                            <input type="button" value="添加" onclick="_update_select_add()" class="btn green-meadow" />
                                            <input type="button" value="标准创建扩展字段" onclick="ext_add('{$ext_module}')" class="btn sbold uppercase btn-outline green-jungle"/></td>
                                    </tr>
                                    <script type="text/javascript">
                                        function _update_select_add()
                                        {
                                            var val = $("#_tmp_select_add").val();
                                            if(!val){
                                                $.dialog.alert('请选择要添加的扩展');
                                                return false;
                                            }
                                            ext_add2(val,'{$ext_module}');
                                        }
                                    </script>
                                    <!-- /if -->
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <table class="table table-striped table-bordered table-hover"  style="margin-bottom:20px;">
                                    <tbody>
                                    <tr>
                                        <td class="text-right col-md-2">SEO标题：</td>
                                        <td><input type="text" id="seo_title" name="seo_title" value="{$rs.seo_title}" class="form-control"/>
                                            <span class="help-block">设置此标题后，网站Title将会替代默认定义的，不能超过85个汉字</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right col-md-2">SEO关键字：</td>
                                        <td><input type="text" id="seo_keywords" name="seo_keywords" value="{$rs.seo_keywords}" class="form-control"/>
                                            <span class="help-block">多个关键字用英文逗号或英文竖线隔开</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right col-md-2">SEO描述：</td>
                                        <td><textarea id="seo_desc" name="seo_desc" maxlength="100" class="form-control" rows="2">{$rs.seo_desc}</textarea>
                                            <span class="help-block">简单描述该主题信息，用于搜索引挈，不支持HTML，不能超过85个汉字</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right col-md-2">Tag标签：</td>
                                        <td><input type="text" id="tag" name="tag" value="{$rs.tag}" class="form-control"/>
                                            <span class="help-block">多个标签用英文空格隔开，最多不能超过10个词</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab3">
                                <table class="table table-striped table-bordered table-hover"  style="margin-bottom:20px;">
                                    <tbody>
                                    <tr>
                                        <td class="text-right">默认主题数：</td>
                                        <td>
                                            <input type="text" id="psize" name="psize" value="{$rs.psize}" class="form-control"/>
                                            <span class="help-block">启用此项将替换项目中的设置</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">列表模板：</td>
                                        <td><input type="text" id="tpl_list" name="tpl_list" value="{$rs.tpl_list}" class="form-control"/>
                                            <input type="button" value="选择" onclick="dsy_tpl_open('tpl_list')" class="btn btn-xs btn-success" />
                                            <input type="button" value="清空" onclick="$('#tpl_list').val('');" class="btn btn-xs btn-warning" />
                                            <span class="help-block">此处设置自定义模板，将替代项目中的模板设置</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">内容模板：</td>
                                        <td>
                                            <input type="text" id="tpl_content" name="tpl_content" value="{$rs.tpl_content}" class="form-control"/>
                                            <input type="button" value="选择" onclick="dsy_tpl_open('tpl_content')" class="btn btn-xs btn-success" />
                                            <input type="button" value="清空" onclick="$('#tpl_content').val('');" class="btn btn-xs btn-warning" />
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button class="btn blue" type="submit">
                                        <i class="fa fa-edit"></i>
                                        提 交
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{func include_js cate.js}"></script>
<script type="text/javascript">
    //取得拼音
    function pingyin_btn()
    {
        var title = $("#title").val() ? $("#title").val() : $("#title").text();
        if(!title)
        {
            $.dialog.alert('没有要拼音的标题');
            return false;
        }
        var url = api_plugin_url('identifier','pingyin','title='+$.str.encode(title));
        var rs = json_ajax(url);
        if(rs.status == "ok")
        {
            $("#identifier").val(rs.content);
        }
        else
        {
            $.dialog.alert(rs.content);
            return false;
        }
    }
    function py_btn()
    {
        var title = $("#title").val() ? $("#title").val() : $("#title").text();
        if(!title)
        {
            $.dialog.alert('没有要拼音的标题');
            return false;
        }
        var url = api_plugin_url('identifier','py','title='+$.str.encode(title));
        var rs = json_ajax(url);
        if(rs.status == "ok")
        {
            $("#identifier").val(rs.content);
        }
        else
        {
            $.dialog.alert(rs.content);
            return false;
        }
    }
</script>
<!-- inc:foot -->