<!-- inc:head -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{echo admin_url('code')}" title="返回报关条码列表">报关条码管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>导入报关条码</span>
        </li>
    </ul>
</div>
<form method="post" action="{func admin_url code setok}">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box grey">
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                        <tr>
                            <td class="text-right col-md-2">发货渠道：</td>
                            <td><select class="form-control" name="channel_id">
                                <option value="">请选择发货渠道</option>
                                <!-- loop from=$channel key=$key value=$value -->
                                <option value="{$value.id}">{$value.title}</option>
                                <!-- /loop -->
                            </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right col-md-2">{$extlist.title}：</td>
                            <td>{$extlist.html}
                                <span class="help-block">参考格式：（<a href="tpl/www/images/codedata.xls" class="font-red">点击下载模板</a>）</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <button class="btn blue" type="submit"> 批量提交 </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- inc:foot -->