<!-- inc:head -->
<!-- inc:nav -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <!-- inc:left -->
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="{echo admin_url('email')}">通知内容管理</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <span><!-- if $id -->编辑<!-- else -->添加<!-- /if --></span>
                    </li>
                </ul>
                <div class="text-right" style="margin-top:6px;"><a href="{echo admin_url('email')}" class="btn btn-circle green-haze btn-outline sbold uppercase btn-sm">返回列表</a></div>
            </div>
            <form method="post" action="{echo admin_url('email','setok')}" onsubmit="return check_save()">
                <input type="hidden" name="id" id="id" value="{$id}" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box grey">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-bars"></i>通知内容设置</div>
                                <div class="tools">
                                    <a title="" data-original-title="" href="javascript:;" class="collapse"> </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover">
                                    <tbody>
                                    <tr>
                                        <td class="text-right">{lang标识：}</td>
                                        <td><!-- php:$identifier = $rs.identifier ? $rs.identifier : ($type == 'sms' ? 'sms_' : 'email_') --><input id="identifier" name="identifier" value="{$identifier}" type="text" style="width: 100%"/><span class="help-block">{lang该标识用于调用}<!-- if $type == 'sms' -->{lang，}{lang短信模板请以：}<span class="font-red">sms_</span> {lang开头}<!-- else -->{lang禁止使用} sms_ {lang开头}<!-- /if --></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <!-- if $type == 'sms' -->
                                        <td class="text-right">{lang模板标签：}</td>
                                        <!-- else -->
                                        <td class="text-right">{lang邮件标题：}</td>
                                        <!-- /if -->

                                        <td><input id="title" name="title" type="text" value="{$rs.title}" style="width: 100%"/><span class="help-block"><!-- if $type == 'sms' -->{lang适用于阿里云短信等需要使用标签的地方，使用标签后，内容将可能是无效的}<!-- else -->{lang可以简单使用变量}<!-- /if --></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">{lang备注：}</td>
                                        <td><input name="note" id="note" value="{$rs.note}" type="text" style="width: 100%"/>
                                        <span class="help-block">{lang对该模板内容的一些备注，建议使用您熟悉的语言}</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">{lang内容：}</td>
                                        <td>{$edit_content}
                                            <span class="help-block">{lang支持模板变量}</span></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn blue" type="submit">
                            <i class="fa fa-edit"></i>
                            提 交
                        </button>
                    </div>
                </div>
            </form>
            <!-- if $type == 'sms' -->
            <div class="note note-info" style="margin-top: 20px;">
                <h4 class="block fa fa-warning bold font-red"> 注意：</h4>
                <p>{lang短信标识必须使用sms_开头，其他开头标识都归为邮件模板} </p>
                <p>{lang部分短信接口不支持内容，只允许使用变量参数，这时内容是一行一条格式是：变量名:模板变量}</p>
                <p>允许自定义的短信内容都有自身规范，建议使用阿里提供的短信 </p>
                <p>允许自定义的短信内容都有自身规范，建议使用阿里提供的短信 </p>
                <p>短信长度不要超过50字（请注意变量可能用到的长度） </p>
            </div>
            <!-- /if -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<script type="text/javascript">
    var type = "{$type}";
    function check_save()
    {
        var title = $("#title").val();
        if(!title){
            $.dialog.alert("主题不能为空");
            return false;
        }
        var identifier = $("#identifier").val();
        if(!identifier){
            $.dialog.alert("标识不能为空");
            return false;
        }
        if(type == "email"){
            if(identifier.substr(0,4) == 'sms_'){
                $.dialog.alert('不能使用sms_做标识');
                return false;
            }
            var content = UE.getEditor('content').getContentTxt();
            if(!content){
                $.dialog.alert("内容不能空");
                return false;
            }
        }else{
            if(identifier.substr(0,4) != 'sms_'){
                $.dialog.alert('必须使用sms_做标识前缀');
                return false;
            }
        }
        var url = get_url("email","check") + "&identifier="+$.str.encode(identifier)+"&type="+type;
        var id = $("#id").val();
        if(id && id != "undefined" && id != "0"){
            url += "&id="+id;
        }
        var rs = $.dsy.json(url);
        if(rs.status != 'ok'){
            $.dialog.alert(rs.content);
            return false;
        }
        $("#submit").attr("disabled",true);
        return true;
    }
</script>
<!-- inc:foot -->