<!-- inc:head_open -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box grey">
            <div class="portlet-body">
                <form method="post" action="{echo admin_url('ext','create_save')}" onsubmit="return check_save();">
                    <input type="hidden" id="module" name="module" value="{$module}" />
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <tbody>
                        <tr>
                            <td class="text-right">字段名称：</td>
                            <td><input type="text" id="title" name="title" value="{$rs.title}" style="width: 100%;" /><div id="title_note"></div>
                                <span class="help-block">设置一个名称，该名称在表单的头部信息显示</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">字段备注：</td>
                            <td><input type="text" id="note" name="note" value="{$rs.note}" style="width: 100%;" />
                                <span class="help-block">仅限后台管理使用，用于查看这个字段主要做什么</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">字段标识：</td>
                            <td><input type="text" id="identifier" name="identifier" {if $id} value="{$rs.identifier}" disabled{/if} style="width: 100%;" /><div id="identifier_note"></div>
                            <span class="help-block">仅限字母、数字及下划线，且必须以字母开头</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">表单类型：</td>
                        <td>
                            <select id="form_type" name="form_type" onchange="_dsy_form_opt(this.value,'form_type_ext','{$id}')">
                                <option value="">请选择表单</option>
                                <!-- foreach($form_list AS $key=>$value) -->
                                <option value="{$key}"{if $key == $rs.form_type} selected{/if}>{$value}</option>
                                <!-- /foreach -->
                            </select>
                            <span class="help-block">请选择字段要使用的表单,添加完后，将不允许再修改</span>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-right">表单样式（CSS）：</td>
                        <td><input type="text" id="form_style" name="form_style" value="{$rs.form_style}" style="width: 100%;" />
                            <span class="help-block">不能超过250个字符</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">表单默认值：</td>
                        <td><input type="text" id="content" name="content" value="{$rs.content}" style="width: 100%;" />
                            <span class="help-block">设置表单默认值，如果表单中有多个值，请用英文逗号隔开</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">接收数据格式化：</td>
                        <td>
                            <select name="format" id="format">
                                <!-- foreach($format_list AS $key=>$value) -->
                                <option value="{$key}"{if $rs.format == $key} selected{/if}>{$value}</option>
                                <!-- /foreach -->
                            </select>
                            <span class="help-block">设置文本常见格式，如HTML，整型，浮点型等</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">排序：</td>
                        <td><input type="text" id="taxis" name="taxis" value="{$rs.taxis ? $rs.taxis : 255}" style="width: 100%;" />
                            <span class="help-block">值越小越往前靠，最小值为0，最大值为255</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="clearfix"></div>
                <div id="form_type_ext" style="display:none"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function check_save()
    {
        var module = $("#module").val();
        if(!module)
        {
            $.dialog.alert("操作异常！");
            return false;
        }
        var title = $("#title").val();
        if(!title || title == "undefined")
        {
            $.dialog.alert("名称不能为空");
            return false;
        }
        //判断标识符是否被使用
        var c = $("#identifier").val();
        if(!c)
        {
            $.dialog.alert("标识串不能为空！");
            return false;
        }
        //验证标识串是否符合要求
        if(!$.str.identifier(c))
        {
            $.dialog.alert("标识串不符合系统要求，要求仅支持：字母、数字或下划线且首字必须为字母");
            return false;
        }
        //通过服务端验证数据是否存在
        var url = get_url("ajax","exit","filename=field_identifier") + "&identifier="+c;
        var rs = json_ajax(url);
        if(rs.status != "ok")
        {
            $.dialog.alert(rs.content);
            return false;
        }
        return true;
    }
</script>
<!-- inc:foot_open -->