<!-- inc:head -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>
                <!-- loop from=$plist key=$key value=$value id=plist_id -->
                    <a href="{url ctrl=list func=action id=$value.id/}" title="{$value.title}">{$value.nick_title ? $value.nick_title : $value.title}</a>
               <!-- /loop -->
               <!-- if $show_parent_catelist -->
                    <a href="{url ctrl=list func=action id=$pid cateid=$show_parent_catelist/}">{$parent_cate_rs.title}</a>
               <!-- /if -->
            </span>
        </li>
    </ul>
    <div class="text-right" style="margin:5px 10px 5px 0;">
        <!-- if $popedom.add -->
            <a class="btn green" href="{url ctrl=list func=edit pid=$pid/}">添加内容</a>
        <!-- /if -->
        &nbsp;
        <a href="{url ctrl=list func=set id=$pid /}" class="btn sbold uppercase btn-outline green-jungle">编辑项目</a>
    </div>
</div>
<div class="row">
<div class="col-md-12">
<div class="portlet light bordered">
<div class="portlet-body">
<!-- if $rslist -->
<div class="table-scrollable">
<table class="table table-striped table-bordered table-advance table-hover">
<thead>
<tr>
    <th class="bold">&nbsp;</th>
    <th class="bold">{$rs.alias_title ? $rs.alias_title : '主题'}</th>
    <!-- if $rs.cate -->
    <th class="bold">分类</th>
    <!-- /if -->
    <!-- loop from=$layout key=$key value=$value -->
    <!-- if $key == "dateline" -->
    <th class="bold">{$value}</th>
    <!-- elseif $key == "hits" -->
    <th class="bold">浏览量</th>
    <!-- else -->
    <th class="bold">{$value}</th>
    <!-- /if -->
    <!-- /loop -->
    <th class="bold text-center">审核</th>
    <th class="bold">排序</th>
    <th class="bold text-center">操作</th>
</tr>
</thead>
<tbody>
<!-- php:$tmp_m = 0 -->
<!-- foreach($rslist AS $key=>$value) -->
<!-- php:$tmp_m++ -->
<tr id="list_{$value.id}" title="{$rs.alias_title ? $rs.alias_title : P_Lang('主题')}: {$value.title}&#10;{lang发布日期}: {echo date('Y-m-d H:i:s',$value[dateline])}">
    <td class="text-center">
        <label class="mt-checkbox mt-checkbox-outline">

            <input id="id_{$value.id}" value="{$value.id}" name="ids[]" type="checkbox">
            <span></span>
        </label>
    </td>
    <td>
        <label for="id_{$value.id}">
            {$value.title}
            <!-- if $value.attr -->
            <!-- php:$attr = explode(",",$value['attr']) -->
            <!-- loop from=$attr key=$attr_k value=$attr_v -->
            <a href="{echo admin_url('list','action')}&id={$pid}&attr={$attr_v}" class="gray">[{$attrlist[$attr_v]}]</a>
            <!-- /loop -->
            <!-- /if -->
            <!-- if $value.identifier -->
            <small>（{$value.identifier}）</small>
            <!-- /if -->
            <!-- if $rs.is_biz -->
            {func price_format $value.price $value.currency_id}
            <!-- /if -->
            <!-- if $value.hidden -->
            <span class="font-red">(隐藏)</span>
            <!-- /if -->
            <!-- if $clist && $clist[$value.id] -->
            <div class="extcate">
                分类：
                <!-- loop from=$clist[$value.id] key=$ck value=$cv -->
                <a href="{url ctrl=list func=action id=$pid cateid=$cv/}" class="i">{$cateall[$cv]}</a>
                <!-- /loop -->
            </div>
            <!-- /if -->
        </label>
    </td>
    <!-- if $rs.cate -->
    <td>
        <!-- if $value.cate_id && is_array($value.cate_id) -->
        <a href="{echo admin_url('list','action')}&id={$pid}&cateid={$value.cate_id.id}">{$value.cate_id.title}</a>
        <!-- else -->
        未设分类
        <!-- /if -->
    </td>
    <!-- /if -->
    <!-- loop from=$layout key=$k value=$v -->
    <!-- if $k == "dateline" -->
    <td>{func date Y-m-d $value.dateline}</td>
    <!-- elseif $k == "hits" -->
    <td>{$value.hits}</td>
    <!-- elseif $k == "user_id" -->
    <td>{$value._user ? $value._user : '-'}</td>
    <!-- else -->
    <!-- if is_array($value[$k])  -->
    <!-- php:$c_list = $value[$k]['_admin'] -->
    <!-- if $c_list.type == 'pic' -->
    <td><img src="{$c_list.info}" width="28px" height="28px" border="0" class="hand" onclick="preview_attr('{$c_list.id}')" style="border:1px solid #dedede;padding:1px;" /></td>
    <!-- else -->
    <!-- if is_array($c_list.info) -->
    <td>{echo implode(' / ',$c_list.info)}</td>
    <!-- else -->
    <td>{$c_list.info ? $c_list.info : '-'}</td>
    <!-- /if -->
    <!-- /if -->
    <!-- else -->
    <td>{$value[$k] ? $value[$k] : '-'}</td>
    <!-- /if -->
    <!-- /if -->
    <!-- /loop -->
    <td class="text-center">{if $value.status}已审核{else}<span class="font-blue">未审核</span>{/if}</td>
    <td>{$value.sort}</td>
    <td class="text-center">
        <!-- if $popedom.modify -->
        <button class="btn btn-xs btn-info" onclick="$.dsy.go('{url ctrl=list func=edit id=$value.id/}')">
            <i class="fa fa-edit"></i> 编辑
        </button>
        <!-- /if -->
        <!-- if $popedom.delete -->
        <button class="btn btn-xs btn-danger" onclick="content_del('{$value.id}')">
            <i class="fa fa-times"></i> 删除
        </button>
        <!-- /if -->
        <!-- if $session.admin_rs.if_system && $rs.is_appoint -->
        <button class="btn btn-sm btn-warning" onclick="set_admin_id('{$value.id}')">
            <i class="fa fa-angle-double-left"></i> 指派
        </button>
        <!-- /if -->
        <!-- if $rs.subtopics && !$value[parent_id] && $popedom.add -->
        <button type="button" onclick="$.dsy.go('{url ctrl=list func=edit parent_id=$value.id pid=$value.project_id/}')" class="btn btn-sm btn-warning" />
        <i class="fa fa-angle-double-right"></i> 加子导航
        </button>
        <!-- /if -->
    </td>
</tr>
<!-- loop from=$value.sonlist key=$kk value=$vv -->
<!-- php:$tmp_m++ -->
<tr id="list_{$vv.id}" title="{$rs.alias_title ? $rs.alias_title : '主题'}：{$vv.title}&#10;发布日期：{echo date('Y-m-d H:i:s',$vv[dateline])}">
    <td class="center">
        <label class="mt-checkbox mt-checkbox-outline">

            <input type="checkbox" name="ids[]" id="id_{$vv.id}" value="{$vv.id}">
            <span></span>
        </label>
    </td>
    <td>
        <label for="id_{$vv.id}">
            &nbsp; &nbsp; ├─ {$vv.title}
            <!-- if $vv.attr -->
            <!-- php:$attr = explode(",",$vv['attr']) -->
            <!-- loop from=$attr key=$attr_k value=$attr_v -->
            [{$attrlist[$attr_v]}]
            <!-- /loop -->
            <!-- /if -->
            <!-- if $vv.identifier -->
            <span class="gray i">（{$vv.identifier}）</span>
            <!-- /if -->
            <!-- if $rs.is_biz -->
            <span class="red i"> {func price_format $vv.price $vv.currency_id}</span>
            <!-- /if -->
            <!-- if $vv.hidden -->
            <span class="red i">(隐藏)</span>
            <!-- /if -->
            <!-- if $clist && $clist[$vv.id] -->
            <div class="extcate">
                分类：
                <!-- loop from=$clist[$vv.id] key=$ck value=$cv -->
                <a href="{url ctrl=list func=action id=$pid cateid=$cv/}" class="i">{$cateall[$cv]}</a>
                <!-- /loop -->
            </div>
            <!-- /if -->
        </label>
    </td>
    <!-- if $rs.cate -->
    <td class="gray center">
        <!-- if $vv.cate_id && is_array($vv.cate_id) -->
        <a href="{echo admin_url('list','action')}&id={$pid}&cateid={$vv.cate_id.id}">{$vv.cate_id.title}</a>
        <!-- else -->
        未设分类
        <!-- /if -->
        <!-- /if -->
        <!-- loop from=$layout key=$k value=$v -->
        <!-- if $k == "dateline" -->
    <td class="center">{echo date("Y-m-d",$vv[dateline])}</td>
    <!-- elseif $k == "hits" -->
    <td class="center">{$vv.hits}</td>
    <!-- elseif $k == 'user_id' -->
    <td>{$vv._user ? $vv._user : '-'}</td>
    <!-- else -->
    <!-- if is_array($vv[$k])  -->
    <!-- php:$c_list = $vv[$k]['_admin'] -->
    <!-- if $c_list.type == 'pic' -->
    <td><img src="{$c_list.info}" width="28px" height="28px" border="0" class="hand" onclick="preview_attr('{$c_list.id}')" style="border:1px solid #dedede;padding:1px;" /></td>
    <!-- else -->
    <!-- if is_array($c_list.info) -->
    <td>{echo implode(' / ',$c_list.info)}</td>
    <!-- else -->
    <td>{$c_list.info ? $c_list.info : '-'}</td>
    <!-- /if -->
    <!-- /if -->
    <!-- else -->
    <td>{$vv[$k] ? $vv[$k] : '-'}</td>
    <!-- /if -->
    <!-- /if -->
    <!-- /loop -->
    <td class="text-center">{if $vv.status}已审核{else}<span class="font-blue">未审核</span>{/if}</td>
    <td class="center">{$vv.sort}</td>
    <td class="text-center">
        <!-- if $popedom.modify -->
        <button type="button"  onclick="$.dsy.go('{url ctrl=list func=edit id=$vv.id/}')" class="btn btn-sm btn-info" />
        <i class="fa fa-edit"></i>
        編輯
        </button>
        <!-- /if -->
        <!-- if $popedom.delete -->
        <button type="button"  onclick="content_del('{$vv.id}')" class="btn btn-sm btn-danger" />
        <i class="fa fa-times"></i>
        刪除
        </button>
        <!-- /if -->
    </td>
</tr>
<!-- /loop -->
<!-- /foreach -->
</table>
</div>
</tbody>
</table>
</div>
<!-- /if -->
<div class="row">
    <!-- if $rslist -->
    <div class="col-md-6 form-inline">
        <div class="form-group">
            <input type="button" value="全选" class="btn btn-xs btn-danger" onclick="$.input.checkbox_all()" />
            <input type="button" value="全不选" class="btn btn-xs btn-success" onclick="$.input.checkbox_none()" />
            <input type="button" value="反选" class="btn btn-xs btn-warning" onclick="$.input.checkbox_anti()" />
        </div>
        <div class="form-group">
            <select id="list_action_val" style="margin-top:5px;" onchange="update_select()">
                <option value="">选择要执行的动作…</option>
                <!-- if $opt_catelist -->
                <optgroup label="分类操作">
                    <!-- loop from=$opt_catelist key=$key value=$value -->
                    <option value="cate:{$value.id}">{$value._space}{$value.title}</option>
                    <!-- /loop -->
                </optgroup>
                <!-- /if -->
                <!-- if $rs.is_attr -->
                <optgroup label="{$rs.alias_title ? $rs.alias_title : P_Lang('主题')}{lang属性}">
                    <!-- loop from=$attrlist key=$key value=$value -->
                    <option value="attr:{$key}">{$value} {$key}</option>
                    <!-- /loop -->
                </optgroup>
                <!-- /if -->
                <optgroup label="其他">
                    <!-- if $popedom.status -->
                    <option value="status">审核</option>
                    <option value="unstatus">取消审核</option>
                    <!-- /if -->
                    <option value="hidden">隐藏</option>
                    <option value="show">显示</option>
                    <!-- if $popedom.delete -->
                    <option value="delete">删除</option>
                    <!-- /if -->
                    <!-- if $session.admin_rs.if_system && $rs.is_appoint -->
                    <option value="appoint">指派管理员维护</option>
                    <!-- /if -->
                </optgroup>
            </select>
        </div>
        <div class="form-group" id="attr_set_li" style="display: none;">
            <select name="attr_set_val" style="margin-top:5px;" id="attr_set_val">
                <option value="add">添加</option>
                <option value="delete">移除</option>
            </select>
        </div>
        <!-- if $opt_catelist -->
        <div class="form-group" id="cate_set_li" style="display: none;">
            <select name="cate_set_val" style="margin-top:5px;" id="cate_set_val">
                <!-- if $rs.cate_multiple -->
                <option value="add">添加扩展分类</option>
                <option value="delete">移除分类绑定</option>
                <!-- /if -->
                <option value="move">移动主分类</option>
            </select>
        </div>
        <!-- /if -->
        <div class="form-group" id="plugin_button"><input type="button" value="执行操作" onclick="list_action_exec()" class="btn btn-xs blue" /></div>
    </div>
    <!-- /if -->
    <div class="text-right"><!-- include tpl=pagelist --></div>
</div>
</div>
</div>
</div>
<script type="text/javascript" src="{func include_js list.js}"></script>
<script type="text/javascript" src="js/laydate/laydate.js"></script>
<!-- inc:foot -->