<!-- inc:head -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{echo admin_url('log')}" title="返回银行卡转账列表">日志管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>日志列表</span>
        </li>
    </ul>
    <div class="text-right" style="margin-top:6px;margin-bottom:6px;margin-right:6px;">
        <!--php:$date30=date('Y-m-d',strtotime("-30 day"));$date7=date('Y-m-d',strtotime("-7 day")); -->
        <a href="javascript:void(0);" onclick="$.admin_log.search('start_time','{$date30}')" class="btn btn-circle green-haze btn-outline btn-sm">{lang最近30天内日志}</a>
        <a href="javascript:void(0);" onclick="$.admin_log.search('start_time','{$date7}')" class="btn btn-circle green-haze btn-outline btn-sm">{lang最近7天内日志}</a>
        <!-- if $session.admin_rs.if_system -->
        <a href="javascript:void(0);" onclick="$.admin_log.delete30()" class="btn btn-circle red btn-outline btn-sm">{lang删除30天之前的日志}</a>
        <!-- /if -->
    </div>
</div>
<h1 class="page-title"> </h1>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="navbar-collapse bg-grey-steel" style="border-radius: 4px;">
                    <form class="navbar-form navbar-left" method="post" action="{url ctrl=log/}" style="padding-left:0px;">
                        <div class="form-group">
                            <select name="position" class="form-control">
                                <option value="admin"{if $position == 'admin'} selected{/if}>后台</option>
                                <option value="www"{if $position == 'www'} selected{/if}>前台</option>
                                <option value="api"{if $position == 'api'} selected{/if}>接口</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="form-control date-item" type="text" name="start_time" value="{$start_time}" placeholder="开始时间"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control date-item" type="text" name="stop_time" value="{$stop_time}" placeholder="结束时间" />
                        </div>
                        <div class="form-group">
                            <input type="text" id="keywords" name="keywords" value="{$keywords}" placeholder="{lang请输入要搜索的关键字}" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="adminer" value="{$adminer}" placeholder="{lang管理员账号}" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="user" value="{$user}" placeholder="{lang会员账号}" class="form-control">
                        </div>
                        <button class="btn btn-info" type="submit" style="margin-top:-5px;"><i class="fa fa-search"></i> 查 询 </button>
                    </form>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                        <tr>
                            <th class="bold">&nbsp;</th>
                            <th class="bold text-center">备注/网址</th>
                            <th class="bold text-center">IP</th>
                            <th class="bold text-center">操作人</th>
                            <th class="bold text-center">文件</th>
                            <th class="bold text-center">时间</th>
                            <!-- if $session.admin_rs.if_system -->
                            <th class="bold text-center">操作</th>
                            <!-- /if -->
                        </tr>
                        </thead>
                        <tbody>
                        <!-- loop from=$rslist key=$key value=$value id=$tmpid -->
                        <tr>
                            <td class="text-center">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input class="checkboxes" id="id_{$value.id}" name="ids[]" value="{$value.id}" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td class="text-center"><!-- if $value.note -->{$value.note}<!-- /if --></td>
                            <td class="text-center">{$value.ip}</td>
                            <td class="text-center">
                                <!-- if $value.account --><span class="font-red">{$value.account}</span><!-- /if -->
                                <!-- if $value.account && $value.user --> / <!-- /if -->
                                <!-- if $value.user --><span class="font-blue">{$value.user}</span><!-- /if -->
                                <!-- if !$value.admin_id && !$value.user_id -->{lang访客}<!-- /if -->
                            </td>
                            <td class="text-center">{$value.ctrl}_control.php &raquo; {$value.func}_f</td>
                            <td class="text-center">{func date "Y-m-d H:i:s" $value.dateline}</td>
                            <!-- if $session.admin_rs.if_system -->
                            <td class="text-center">
                                <a href="javascript:;" onclick="$.admin_log.del('{$value.id}')" class="btn btn-sm btn-danger">删除</a>
                            </td>
                            <!-- /if -->
                        </tr>
                        <!-- /loop -->
                        </tbody>
                    </table>
                    <div class="col-md-6 form-inline">
                        <div class="form-group">
                            <input type="button" value="全选" class="btn btn-xs btn-danger" onclick="$.input.checkbox_all()" />
                            <input type="button" value="全不选" class="btn btn-xs btn-success" onclick="$.input.checkbox_none()" />
                            <input type="button" value="反选" class="btn btn-xs btn-warning" onclick="$.input.checkbox_anti()" />
                            <input type="button" value="{lang删除选中日志}" onclick="$.admin_log.delete_selected()" class="btn btn-xs btn-danger" />
                        </div>
                    </div>
                    <div class="col-md-6 text-right"><!-- include tpl=pagelist --></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{func include_js admin.log.js}"></script>
<script>
    lay('.date-item').each(function(){
        laydate.render({
            elem: this
            ,type: 'date'
            ,trigger: 'click'
        });
    });
</script>
<!-- inc:foot -->