<!-- inc:head -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{echo admin_url('code')}" title="返回报国内快递单号">国内快递单号</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>国内快递单号</span>
        </li>
    </ul>
</div>
<div class="page-bar">
    <form class="navbar-form navbar-left" method="post" action="{url ctrl=number /}">
        <div class="row">
            <div class="form-group">
                <select name="status" class="form-control">
                    <option value="">状态</option>
                    <option value="0"{if $status == 0 && $status!=''} selected{/if}>未使用</option>
                    <option value="1"{if $status == 1} selected{/if}>已使用</option>
                </select>
            </div>
            <div class="form-group">
                <select id="channel" name="cid" class="form-control">
                    <option value="">发货渠道</option>
                    <!-- loop from=$channel key=$key value=$value -->
                    <option value="{$value.id}"{if $value.id == $cid} selected{/if}>{$value.title}</option>
                    <!-- /loop -->
                </select>
            </div>
            <div class="form-group">
                <input class="form-control input-small" type="text" name="title" value="{$title}" placeholder="国内快递单号" />
            </div>
            <div class="form-group">
                <button class="btn btn-info" type="submit"><i class="fa fa-search"></i> 查 询 </button>
            </div>
            <!-- if $popedom.add -->
            <div class="form-group" >
                <a class="btn green" href="{echo admin_url('number','set')}">
                    <i class="fa fa-plus"></i>
                    导入快递单号
                </a>
            </div>
            <!-- /if -->
            </div>
    </form>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="tabbable-line">
                <ul class="nav nav-tabs">
                    <li class="{if !$cid}active {/if}bold"><a href="javascript:void(0)" onclick="tab('')">全部单号<span class="badge badge-success">{$sum}</span></a></li>
                    <!-- loop from=$channel key=$key value=$value -->
                    <li class="{if $cid==$value.id}active {/if}bold"><a href="javascript:void(0)" onclick="tab('{$value.id}')">{$value.title}<span class="badge badge-success"> {$count[$key]} </span></a></li>
                    <!-- /loop -->
                </ul>
                <table class="table table-striped table-bordered table-advance table-hover">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="bold text-center">单号</th>
                        <th class="bold text-center">快递公司</th>
                        <th class="bold text-center">发货渠道</th>
                        <th class="bold text-center">状态</th>
                        <th class="bold text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- loop from=$rslist key=$key value=$value -->
                    <tr>
                        <td class="text-center">
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input class="checkboxes" id="id_{$value.id}" name="ids[]" value="{$value.id}" type="checkbox">
                                <span></span>
                            </label>
                        </td>
                        <td class="text-center">{$value.title}</td>
                        <td class="text-center">{$value.express.title}</td>
                        <td class="text-center">{$value.channel.title}</td>
                        <td class="status text-center">{$value.status ? '已使用' : '未使用'}</td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-info" onclick="$.dsy.go('{url ctrl=number func=edit id=$value.id/}')">
                                <i class="fa fa-edit"></i> 编辑
                            </button>
                            <button class="btn btn-sm btn-danger" onclick="code_del('{$value.id}','{$value.title}')">
                                <i class="fa fa-times"></i> 删除
                            </button>
                        </td>
                    </tr>
                    <!-- /loop -->
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-6 form-inline">
                        <div class="form-group">
                            <input type="button" value="全选" class="btn btn-sm btn-danger" onclick="$.input.checkbox_all()" />
                            <input type="button" value="全不选" class="btn btn-sm btn-success" onclick="$.input.checkbox_none()" />
                            <input type="button" value="反选" class="btn btn-sm btn-warning" onclick="$.input.checkbox_anti()" />
                        </div>
                        <div class="form-group" id="plugin_button"><input type="button" value="批量删除" onclick="set_delete()" class="btn btn-sm btn-danger" /></div>
                    </div>
                    <!-- if $pagelist --> <div class="col-md-6 text-right" style="font-size: 12px;"><!-- include tpl=pagelist --></div><!-- /if -->
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $(".status").each(function(){
            if($(this).text() == '已使用'){
                $(this).addClass('font-red');
            }
        });
    });
    function tab(cid){
        var url;
        url = get_url('number','index','cid='+cid);
        $.dsy.go(url);
    }
    function code_del(id,title)
    {
        $.dialog.confirm("确定要删除：<span class='font-red'>"+title+"</span>！",function(){
            var url = get_url('number','delete','id='+id);
            var rs = json_ajax(url);
            if(rs.status == 'ok')
            {
                $.dialog.alert("快递单号：<span class='red'>"+title+"</span> 删除成功",function(){
                    $.dsy.reload();
                });
            }
            else
            {
                if(!rs.content) rs.content = '删除失败';
                $.dialog.alert(rs.content);
                return false;
            }
        });
    }
    function set_delete()
    {
        var ids = $.input.checkbox_join();
        if(!ids)
        {
            $.dialog.alert("未指定要删除的报关条码");
            return false;
        }
        $.dialog.confirm("确定要删除选定的报关条码吗？<br />删除后是不能恢复的？",function(){
            var url = get_url("number","deletes") +"&id="+$.str.encode(ids);
            var rs = json_ajax(url);
            if(rs.status == "ok")
            {
                $.dsy.reload();
            }
            else
            {
                $.dialog.alert(rs.content);
                return false;
            }
        });
    }
</script>
<!-- inc:foot -->