<!-- include tpl=head_open -->
<!-- if $multi -->
<div class="list">
    <ul class="layout">
        <li>已选择：</li>
        <div id="selected_list"></div>
        <div class="clear"></div>
    </ul>
</div>
<!-- /if -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box grey">
            <div class="portlet-body">
                <form method="post"  action="{url ctrl=open func=user id=$id/}" onsubmit="return submit_search()">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                        <tr>
                            <td>会员名:</td>
                            <td><input type="text" name="keywords" value="{$keywords}" class="input-small"></td>
                            <td>姓名:</td>
                            <td><input type="text" name="first_name" value="{$first_name}" class="input-small"></td>
                            <td>标识码:</td>
                            <td><input type="text" name="ucode" value="{$ucode}" class="input-xsmall"></td>
                            <td><input type="submit" value="查 询" class="btn btn-sm btn-info" /></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
                <table class="table table-striped table-bordered table-advance table-hover">
                    <thead>
                    <tr>
                        <th class="bold">ID</th>
                        <th class="bold">会员名</th>
                        <th class="bold">姓名</th>
                        <th class="bold">标识码</th>
                       <!-- <th class="bold col-md-2">邮箱</th>-->
                        <th class="bold">手机</th>
                        <th class="bold text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- loop from=$rslist key=$key value=$value -->
                    <tr>
                        <td>{$value.id}</td>
                        <td>{$value.user}</td>
                        <td>{$value.first_name}</td>
                        <td>{$value.ucode}</td>
                        <!--<td id="email_{$value.id}">{$value.email}</td>-->
                        <td id="mobile_{$value.id}">{$value.mobile}</td>
                        <td><input type="button" value="选择" onclick="add_input('{$value.id}')" class="dsy-btn btn btn-xs btn-danger" /></td>
                    </tr>
                    <!-- /loop -->
                    </tbody>
                </table>
                <div class="text-right"><!-- include tpl=pagelist --></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var input_id = "#{$id}";
    var multi = {$multi ? "1" : "0"};
    var obj = $.dialog.opener;
    function show_list()
    {
        cid = $.dialog.data('dsy_user_{$id}');
        if(cid == "undefined" || cid == "0" || cid == "")
        {
            return false;
        }
        $("li[name=list]").show();
        var url = get_url("inp")+"&type=user&content="+$.str.encode(cid);
        var rs = $.dsy.json(url);
        if(rs.status == "ok")
        {
            var lst = rs.content;
            var c = "";
            for(var i in lst)
            {
                c += '<li id="user_{$id}_'+lst[i]['id']+'">';
                c += '<div>'+lst[i]['user']+' <a href="javascript:delete_input(\''+lst[i]['id']+'\');void(0);" title="删除"><img src="images/page_delete.png" border="0" alt="" /></a></div>';
                c += '</li>';
                $("#user_"+lst[i]['id']).hide();
            }
            $("#selected_list").html(c).show();
            $.dialog.data("dsy_user_{$id}",cid);
        }
        else
        {
            $("#selected_list").hide();
            $.dialog.removeData("dsy_user_{$id}");
        }
    }
    function add_input(val)
    {
        if(multi)
        {
            var old_c = $.dialog.data('dsy_user_{$id}');
            var c = (old_c && old_c != 'undefined') ? old_c+","+val : val;
            var lst = c.split(",");
            lst = $.unique(lst);
            $.dialog.data('dsy_user_{$id}',lst.join(","));
            show_list();
        }
        else
        {
            obj.$("#{$id}").val(val);
            obj.action_{$id}_show();
            $.dialog.removeData("dsy_user_{$id}");
            $.dialog.close();
        }
    }
    function delete_input(val)
    {
        if(multi)
        {
            var old_c = $.dialog.data('dsy_user_{$id}');
            if(!old_c)
            {
                return true;
            }
            var lst = old_c.split(",");
            var n_list = new Array();
            var m=0;
            for(var i=0;i<lst.length;i++)
            {
                if(lst[i] != val)
                {
                    n_list[m] = lst[i];
                    m++;
                }
            }
            if(n_list.length<1)
            {
                $.dialog.removeData("dsy_user_{$id}");
            }
            else
            {
                var str = n_list.join(",");
                $.dialog.data("dsy_user_{$id}",str);
            }
        }
        else
        {
            $.dialog.removeData("dsy_user_{$id}");
        }
        show_list();
    }
    $(document).ready(function(){
        if(multi == 1){
            var new_c = $.dialog.data("dsy_user_{$id}");
            if(!new_c || new_c == "undefined"){
                new_c = obj.$(input_id).val();
            }
            show_list();
        }
    });
</script>
<!-- inc:foot_open -->