<!-- include tpl=head_open -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box grey">
            <div class="portlet-body">
                <form method="post" id="setsubmit" onsubmit="return false;">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                        <tr>
                            <td class="text-right col-md-2">运单号：</td>
                            <td>{$rs.sn}</td>
                        </tr>
                        <tr>
                            <td class="text-right">预估重量：</td>
                            <td>{$rs.weight}{$rs['weight_unit'][$rs.weight_id]}</td>
                        </tr>
                        <tr>
                            <td class="text-right">计费重量：</td>
                            <td>{$rs.pay_weight}{$rs['weight_unit'][$rs.weight_id]}</td>
                        </tr>
                        <tr>
                            <td class="text-right">复　　重：</td>
                            <td><input type="text"  name="jingzhong" value="{$rs.jingzhong}"  class="input-small" onkeyup="value=value.replace(/[^\d.]/g,'')" /> {$rs.weight_id}</td>
                        </tr>
                        <tr>
                            <td class="text-right">税　　费：</td>
                            <td><input type="text"  name="tax" value="{$rs.tax}"  class="input-small" onkeyup="value=value.replace(/[^\d.]/g,'')" /> 美元</td>
                        </tr>
                        <tr>
                            <td class="text-right">支付方式：</td>
                            <td colspan="3">
                                <div class="md-radio-inline">
                                    <!-- loop from=$pay key=$key value=$value -->
                                    <div class="md-radio">
                                        <input type="radio" name="pay" id="pay_{$key}" value="{$key}" class="md-radiobtn"{if $key == 'balance'} checked{/if}>
                                        <label for="pay_{$key}">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> {$value}
                                        </label>
                                    </div>
                                    <!-- /loop -->
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function save()
    {
        var obj = art.dialog.opener;
        var id = '{$rs.id}';
        var url = get_url('order','pay_error');
        if(id){
            url += "&id="+id;
        }
        $("#setsubmit").ajaxSubmit({
            'url':url,
            'type':'post',
            'dataType':'json',
            'success':function(rs){
                if(rs.status == 'ok'){
                    var tip = '运单重新扣款成功';
                    $.dialog.alert(tip,function(){
                        //top.$.dsy.reload();
                        obj.$.dialog.close();
                        obj.$.dsy.reload();
                    },'succeed');
                }else{
                    $.dialog.alert(rs.content);
                    return false;
                }
            }
        });
        return false;
    }
</script>
<!-- include tpl=foot_open -->