<!-- include tpl=head_open -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box grey">
            <div class="portlet-body">
                <form id="form" method="post" action="{url ctrl=user func=info /}">
                    <input type="hidden" name="uid" value="{$uid}">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                        <tr>
                            <td>收件人姓名:</td>
                            <td><input type="text" name="fullname" value="{$fullname}"></td>
                            <td>手机:</td>
                            <td><input type="text" name="mobile" value="{$mobile}"></td>
                            <td class="text-center"><button class="btn btn-info btn-sm" type="submit"><i class="fa fa-search"></i> 查 询 </button></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
                <table class="table table-striped table-bordered table-advance table-hover">
                    <thead>
                    <tr>
                    <tr>
                        <th class="bold text-center"></th>
                        <th class="bold text-center">收件人</th>
                        <th class="bold text-center">手机/电话</th>
                        <th class="bold text-center">邮编/地址</th>
                        <th class="bold text-center">身份证</th>
                        <th class="bold text-center">操作</th>
                    </tr>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- loop from=$rslist key=$key value=$value -->
                    <tr>
                        <td class="text-center">{$value.id}</td>
                        <td class="text-center">{$value.fullname}</td>
                        <td class="text-center"><span class="mobile">{$value.mobile}</span><br><span class="tel">{$value.tel}</span></td>
                        <td class="text-center"><span class="zipcode">{$value.zipcode}</span><br>{$value.province}<!-- if $value.province != $value.city -->{$value.city}<!-- /if -->{$value.county}<span class="address" data_province='{$value.province}'  data_city='{$value.city}' data_district='{$value.county}'>{$value.address}</span></td>
                        <td class="text-center">{$value.idcard}</td>
                        <td class="text-center"><input type="button" value="选择" class="dsy-btn btn btn-xs btn-danger" /></td>
                    </tr>
                    <!-- /loop -->
                    </tbody>
                </table>
                <div class="text-right"><!-- include tpl=pagelist --></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var obj = $.dialog.opener;
    $(document).ready(function(){
        $('.dsy-btn').click(function(){
            obj.$('#s-fullname').val($(this).parents('tr').children('td').eq(1).text());
            obj.$('#s-idcard').val($(this).parents('tr').children('td').eq(4).text());
            obj.$('#s-mobile').val($(this).parents('tr').children('td').eq(2).find(".mobile").text());
            obj.$('#s-zipcode').val($(this).parents('tr').children('td').eq(3).find(".zipcode").text());
            obj.$('#s-address').val($(this).parents('tr').children('td').eq(3).find(".address").text());
            obj.$('#s-province').val($(this).parents('tr').children('td').eq(3).find(".address").attr("data_province"));
            obj.$('#s-city').val($(this).parents('tr').children('td').eq(3).find(".address").attr("data_city"));
            obj.$('#s-county').val($(this).parents('tr').children('td').eq(3).find(".address").attr("data_district"));
            $.dialog.close();
        });
    })
</script>
<!-- inc:foot_open -->